<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="DBSERVEr" connectionString="server=S0134DBDEV06;uid=quantra;pwd=quantra2;database=FORTUNA"/>-->
    <add name="DBSERVER" connectionString="Data Source=10.7.64.50;Initial Catalog=Hexagon;Integrated Security=False;Persist Security Info=False;User ID=obaseuser;Password=obaseuser;MultipleActiveResultSets=True" />
    <!--<add name="DBSERVER" connectionString="Data Source=(LocalDB);initial catalog=HEXAGON;Integrated Security=true"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
